# only add your env variables here IF you are running this locally without using docker-compose. If you are using docker-compose, add them to the env section of the docker-compose.yml file
USE_AZURE_OPENAI="True" # set to False if you are not using Azure OpenAI
AZURE_OPENAI_DEPLOYMENT_NAME="" # required if using Azure OpenAI
AZURE_OPENAI_ENDPOINT="" # required if using Azure OpenAI
OPENAI_API_KEY="" # always required
OPENAI_ORG_ID="" # required if using OpenAI
