# only add your env variables here IF you are running this locally without using docker-compose. If you are using docker-compose, add them to the env section of the docker-compose.yml file
USE_LOCAL_LLM="True"
AI_ENDPOINT=http://<A_REACHABLE_IP>/chat
