name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to DockerHub
      run: |
        echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
          docker build -t src/order-service:${{ github.sha }} ./src
          docker push src/order-service:${{ github.sha }}

    - name: Deploy to k3s
      run: | 
        kubectl apply -f k3s/deployment.yaml

# para abrir os servicoes pegas no ip e porta do store front do projeto dado pela prof e usas este comando 
#para ver a porta fazes-- kubectl get service

#kubectl delete -f aks-store-demo\aks-store-all-in-one.yaml
#kubectl apply -f aks-store-demo\aks-store-all-in-one.yaml