name: Build and Push gRPC Product Service

on:
  push:
    branches:
      - main

jobs:
  update-code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./src/product-service
          file: ./src/product-service/Dockerfile
          push: true
          tags: ghcr.io/azure-samples/aks-store-demo/product-service:latest
